<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fresh Kicks Landing Page</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <%- include('../partials/header') %>
    <h1>Fresh Kicks</h1>
    <a href="/shoes/new">Add New Shoe</a>
    <ul>
        <li>
            <% shoes.forEach(function(s) { %>
            <% if(user) { %>
            <% if (user._id.toString() == s.user.toString()) { %>
            <form action="/shoes/<%= s._id %>?_method=DELETE" class="delete-form" method="POST">
                <button type="submit">X</button>
            </form>
            <% } else { %>
            <% } %>
        </li>
        <a href="/shoes/<%= s._id %>">See Details</a>
        <li>Brand: <%= s.brand %> </li>
        <li>Model: <%= s.model %> </li>
        <div>Photos:
            <img src="<%= s.photo %> " alt="">
        </div>
        <label>Reviews:</label>
        <% if(s.reviews.length) { %>
            <% s.reviews.forEach(r => { %>
            <li> <%= r.reviews %> </li>    
           <% }) %>
      <%  } %>
        <% } %>
        <li>
            <form id="review-form" action="/shoes/<%= s._id %>/reviews" method="POST">
                <textarea name="reviews"></textarea>
                <input type="submit" value="Add Review">
            </form>
        </li>
        <% }) %>
    </ul>



    <%- include('../partials/footer') %>