<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fresh Kicks Landing Page</title>

    <%- include('../partials/header') %>
    <h1>Fresh Kicks</h1>
    <a href="/shoes/new">Add New Shoe</a>
    <ul>
        <li>
            <% shoes.forEach(function(s) { %>
            <% if(user) { %>
            <% if (user._id.toString() == s.user.toString()) { %>
            <form action="/shoes/<%= s._id %>?_method=DELETE" class="delete-form" method="POST">
                <button type="submit">X</button>
            </form>
            <% } else { %>
            <% } %>
        </li>
        <a href="/shoes/<%= s._id %>">details</a>
        <li> <%= s.brand %> </li>
        <li> <%= s.model %> </li>
        <li> <%= s.retailPrice %> </li>
        <li> <%= s.resalePrice %> </li>
        <li> <%= s.reviews %> </li>
        <li> <%= s.photo %> </li>
        <% } %>
        <% }) %>
    </ul>





    <!-- <style>
        body {
            background-image: url(https://i.imgur.com/G8MZVti.png);
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center center;
            align-content: center;
            background-color: white;
            background-size: cover;
            background-size: contain;
        }
    </style> -->




    <%- include('../partials/footer') %>
    <!-- </body>
</html> -->