<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fresh Kicks Landing Page</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <%- include('../partials/header') %>
    
    <div class="kicks-container">

        <% shoes.forEach(function(s) { %>
            <div class="kicks">
                <div class="sneakerrow">
                    <% if(user) { %>
                        <% if (user._id.toString() == s.user.toString()) { %>
                            <form action="/shoes/<%= s._id %>?_method=DELETE" class="delete-form" method="POST">
                                <button id="delete-button" type="submit">X</button>
                            </form>
                        <% } %>
                    <% } %>
                <div class="sneakerdetails">
                    <div class="example">
                        <a href="/shoes/<%= s._id %>"><img src="<%= s.photo %> " alt="Click For Details"></a>
                        <div class="content">
                            <div class="text"></div>
                        </div>
                    </div>
                </div>
                <label>Reviews:</label>
                <% if(s.reviews.length) { %>
                    <% s.reviews.forEach(r => { %>
                        <%= r.reviews %>
                    <% }) %>
                <% } %>
                </div>
                <div class="review-form">
                    <div>
                        <form id="review-form" action="/shoes/<%= s._id %>/reviews" method="POST">
                            <textarea name="reviews"></textarea>
                            <input id="review-button" type="submit" value="Add Review">
                        </form>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>

    <%- include('../partials/footer') %>