<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fresh Kicks Landing Page</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <%- include('../partials/header') %>
    <h1>Fresh Kicks</h1>
    <a href="/shoes/new">Add New Shoe</a>
    <ul>
        <li>
            <% shoes.forEach(function(s) { %>
            <% if(user) { %>
            <% if (user._id.toString() == s.user.toString()) { %>
            <form action="/shoes/<%= s._id %>?_method=DELETE" class="delete-form" method="POST">
                <button type="submit">X</button>
            </form>
            <% } else { %>
            <% } %>
        </li>
        <a href="/shoes/<%= s._id %>">details</a>
        <li>Brand: <%= s.brand %> </li>
        <li>Model: <%= s.model %> </li>
        <li>Retail Price: <%= s.retailPrice %> </li>
        <li>Resale Price: <%= s.resalePrice %> </li>
        <li>Photos: <%= s.photo %> </li>
        <li>Reviews: <%= s.reviews %> </li>
        <li>Rating: <%= s.rating %> </li>
        <% } %>
        <% }) %>
    </ul>


    <%- include('../partials/footer') %>