<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fresh Kicks Show Details</title>

<%- include('../partials/header') %>
<section id="show-page">
    <ul>
        <div>Brand:</div>
        <div><%= shoe.brand %></div>
        <div>Model:</div>
        <div><%= shoe.model %></div>
        <div>Retail Price:</div>
        <div><%= shoe.retailPrice %></div>
        <div>Resale Price:</div>
        <div><%= shoe.resalePrice %></div>
        <div>Reviews:</div>
        <div><%= shoe.reviews %></div>
        <div>Photo</div>
        <div><%= shoe.photo %></div>
    </ul>
</section>

<form id="edit-shoe-form" action="/shoes/<%= shoe._id %>/update/" method="POST">
    <label>Brand:</label>
    <input type="text" name="brand" value="<%= shoe.brand %>">
    <label>Model:</label>
    <input type="text" name="model" value="<%= shoe.model %>">
    <label>Retail Price:</label>
    <input type="number" name="retailPrice" value="<%= shoe.retailPrice %>">
    <label>Resale Price:</label> 
    <input type="number" name="resalePrice" value="<%= shoe.resalePrice %>">
    <label>Rating:</label>
    <select name="rating">
      <option value="fresh">Fresh</option>
      <option value="not fresh">Not Fresh</option>
    </select>
    <input type="submit" value="Update Shoe">
</form>



<%- include('../partials/footer') %>